:root {
    --nav-bg-color: #e4e1e1;
    --hero-bg-color: #53fa79;
    --about-bg-color: #ffffff;
    --goals-bg-color: #ffffff;
    --footer-bg-color: #e4e1e1;
    --text-color: #150303;
    --accent-color: #00f84a;
    --section-padding: 60px;
    --padding: 20px;
    --font-family: 'Open Sans';
    --border-width: 1px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open sans', sans-serif;
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "nav"
        "hero"
        "about"
        "goals"
        "footer";
    grid-template-rows: auto auto auto auto auto auto;
}
#day-time {
    font-family: 'Open Sans', sans-serif;
    white-space: no-wrap;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
    z-index: 3;
    background-color: white;

}

.current-day, .current-time {
    display: inline-block;
    padding-right: 12px;
    animation: moveAcrossScreen 10s linear infinite;
}

#navbar {
    position: fixed;
    grid-area: nav;
    background-color: inherit;
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding);
    z-index: 8;
}

#navbar.scrolled {
    background-color: var(--accent-color);
}

.nav-links {
    display: flex;
    height: 100%;
}

.nav-links a {
    text-decoration: none;
    padding: var(--padding);
    color: var(--text-color);
    display: flex;
    align-items: center;
    height: 100%;
    font-size: larger;
    font-weight: 600;
    font-family: 'Open sans';
}

.nav-links a.menu-icon {
    display: none;
}

.nav-links a:hover {
    background-color: white;
    transform: scale(1.05);
}

.nav-links.show a {
    display: block;
    text-align: justify;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-right: none;
    background-color: var(--accent-color);
}

.nav-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1; 
}


.hero-section {
    grid-area: hero;
    background-attachment: fixed;
    background-color: var(--nav-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    font-family: 'Open sans';
    
}

.hero-section .text-section {
    width: 45%;
}

.hero-section h1 {
    font-size: xx-large;
    font-weight: 300;
   
}

.hero-section p {
    font-size: x-large;
    font-weight: 300;
}

 
 .hero-section .slackId-section:hover{
   transform: scale(1.05);
   transition: ease-in-out 0.75s;
 }
 .hero-section .slackId-section p{
    border: var(--border-width) solid var(--accent-color);
    padding: var(--padding);
    background-color: var(--accent-color);
    text-align: center;
    position: relative;
    width: fit-content;
    top: -4em;
    right: -5em;
 }

 /* about me */


.about-me{
    grid-area: "about";
    display: flex;
    gap: 10px;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.about-me .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
    font-family: 'Open sans';
    
  
}
.about-me .text .title{
    font-size: xxx-large;
    font-weight: 300;
}
.about-me .text p{
    font-size: x-large;
    padding-bottom: 40px;
}

.about-me .text .links a{
    padding: 12px;
    color: #150303;
   text-decoration: none;
   font-size: medium;
   border: var(--border-width) solid var(--accent-color);
}

.goals {
    grid-area: 'goals';
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    text-align: center;
    font-family: 'Open Sans';
}

.goals h2 {
    font-size: xxx-large;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--text-color);
    animation: fadeInDown 1s ease-in-out;
}

.goals p.title {
    font-size: x-large;
    font-weight: bold;
    color: var(--text-color);
}

.goal-card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: fit-content; 
    max-width: 600px; 
    text-align: left;
    animation: fadeIn 1.5s ease-in-out;
    background-color: var(--accent-color);
    
}
.goal-card:hover{
    transform: scaleX(1.05);
}
.goal-card h3{
    font-size: x-large;
}
.goal-card p{
    font-size: large;
    font-style: italic;
}
.goal-container{
     display: flex;
     flex-direction: row;
    gap: 12px;
    width: auto;
    
}
.goals ul {
    list-style-type: disc;
    margin-left: 20px;
    color: var(--text-color);
}

.goals ul li {
    margin-bottom: 10px;
}



/* footer */
.footer{
    grid-area: "footer";
    background-color: var(--footer-bg-color); 
    text-align: center;
    width: 100%;
    flex-direction: column;
    padding: 40px;

}

.footer .reachout p{
    padding: 40px;
    text-align: center;
    font-size: x-large;
    font-weight: 300;
    font-family: 'Open-sans';
}
.footer .contact-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
   
    
}
.footer .contact-form form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer .contact-form form input{
    background-color: var(--footer-bg-color);
    padding: var(--padding);
    border: none;
    border-bottom: var(--border-width) solid black;
}
.footer .contact-form form input::placeholder{
 color: var(--text-color);
 font-size: medium;
 font-family: 'Open sans';
}
.footer .contact-form .form-button{
    width: fit-content;
    margin-top: 20px;
    align-self: flex-end;
    padding: var(--padding);
    font-size: medium;
    color: #ffffff;
    background-color: #150303;
    font-family: 'Open sans';
    border-radius: 12px;
   
    transition: background-color color 2s;
}
.footer .contact-form .form-button:hover{
    background-color: #ffffff;
    color: #150303;
} 
.footer .contact{
    font-family: 'Open sans';
    
    
}
.footer .contact span{
    display: flex;
    flex-direction: row;
    justify-content: space-bet;
    
}
.footer .contact span a{
 border-radius: 50%;
 background-color: #03e54d;
 padding: var(--padding)
}
.footer .contact span i{
    font-size: 25px;
    color: white;
}
.footer .contact span a:hover{
    background-color: #150303;
    transform: rotateY(180deg);
    transition: 0.75s ease-in;
}

.footer .footnote{
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Open sans';
} 


@media screen and (min-width:994px){
     .logo{
    font-size: x-large;
    font-weight: 700;
} 
    .hero-section{
        padding-left: 2em;
        height: auto;
    }
    .hero-section h1{
        padding-bottom: 20px;
    }

      .hero-section .slackId-section p{
        left: 3em;
        top: -3em;
      }

}
/* Responsive screens */
@media screen and (min-width: 601px) and (max-width:993px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        display: none;
    }

    .nav-links.show a {
        display: block;
    }

    .nav-links a.menu-icon {
        display: block;
        
    }

    .logo {
        padding: 20px;
        border: none;
    }
    .hero-section {
        display: flex;
        flex-direction: row;
         padding: 2em;
        justify-content: space-between;
        align-items:center;
        max-height: fit-content;
        padding-bottom: 0;
        
    }

    .hero-section .text-section {
        padding-top: 4em;
        width:40%;
        text-align: justify;
    }
    .hero-section .text-section h1{
        font-size: xx-large;
    }
    .hero-section .slackId-section{
        position: relative; 
       top: 3em; 
       right: -1em;
        
    }
    .hero-section .slackId-section p{
        left: 2em;
    }
    .hero-section .slackId-section img{
        border-radius: 50%;
        background-color: var(--accent-color);
        border: 2px solid var(--accent-color);
    }
    .hero-section h1 {
        font-size: xxx-large;
        font-weight: 300;
    }

    .hero-section p {
        font-size: x-large;
    }

    .circle {
        display: none;
    }
    .about-me{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    .about-me .text .title{
        font-size: xx-large;
        font-weight: 600;
    }
    .about-me .text p{
        font-size: x-large;
    }
    .about-me .text .links a{
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: space-between;
    }
    
    .goals div {
        width: 100%;
    }
    .goal-container {
        flex-direction: column;
        gap: 20px;
    }

    .goal-card {
        max-width: 80%;
    }

    .goals h2 {
        font-size: xx-large;
        font-weight: 600;
    }

    .goals p.title {
        font-size: large;
        
    }

    .goal-card h3 {
        font-size: large;
    }

    .goal-card p {
        font-size: medium;
    }

    .footer .contact-form {
        flex-direction: column;
    }

    .footer .contact-form form {
        width: 100%;
    }

    .footer .contact span {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        
    } 


    .footer .reachout p {
        padding: 20px;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .body{
        font-size: medium;
        overflow-x: hidden;
    }
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        overflow-x: hidden;
        
    }
   
    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        display: none;
       
    }

    .nav-links.show a {
        display: block;
    }

    .nav-links a.menu-icon {
        display: block;
        border: none;
        
    }

    .logo {
        padding: 20px;
        border: none;
    }
    .hero-section {
        padding: 1em;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        gap: 20px;
        align-items: center;
        max-height:fit-content;
        max-width: 100%;
    }
    .hero-section .text-section{
       text-align: center;
       padding-top: 5em;
       width: 80%;
       font-size: larger;
    }
    .hero-section .slackId-section{
        position: relative;
        right: 0;
        left: 0;
      } 
    
      .hero-section .slackId-section p{
        font-size: large;
      }
    .hero-section h1 {
        font-size: xx-large;
    }

    .hero-section p {
        font-size: large;
    }

     .circle {
        display: none;
    
    }   
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 20px;

    }
    .about-me img{
        display: none;
    }
    .about-me .text{
        max-width: 60%;
    }
    .about-me .text .title{
        font-size: xxx-large;
        font-weight: 600;
    }
    .about-me .text p{
        font-size: larger;
       
    }
    .about-me .text .links a{
        display: flex;
        width: fit-content;
    }
    .goals div {
        width: 100%;

    }
    .goals h2 {
        font-size: xxx-large;
        font-weight:600;
    }
    .goal-container {
        flex-direction: column;
        gap: 20px;
    }

    .goal-card {
        max-width: 60%;
       
    }

    .goals p.title {
        font-size: x-large;
    }

    .goal-card h3 {
        font-size: larger;
    }

    .goal-card p {
        font-size: larger;
    }
    .footer .contact-form {
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }
    .footer .reachout p {
        font-size: large;
        
    }

    .footer .contact-form .form-button {
        align-self: flex-start;
    }
    .footer .contact span {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        
    } 
    .footer .footnote{
        width: 70%;
    }

    
}
@keyframes moveAcrossScreen {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
